/*
@font-face {
   font-family: 'DeterminationMono';
   src: url('./fonts/determination-mono.woff');
}
*/

* {
   overflow: hidden;
   user-select: none;
}

html,
body,
/* #close, */
#splash {
   height: 100%;
   width: 100%;
}

body, #splash, #wrapper > canvas:first-child {
   background-color: black;
}

body {
   align-items: center;
   display: flex;
   justify-content: center;
   margin: 0;
}

body[opaque=""] {
   background-color: black !important;
}

canvas {
   position: absolute;
}

#frame {
   align-items: center;
   background-color: #000000cf;
   box-shadow: 0 0 2px 1px #ffffff;
   display: flex;
   height: 100%; /* calc(100% - 32px); */
   justify-content: center;
   position: absolute;
   /* top: 32px; */
   width: 100%;
}

body[opaque=""] > #frame {
   height: 100%;
   top: 0;
}

/*
#navbar {
   background-color: #070707cf;
   display: grid;
   grid-template-columns: 32px 1fr 100px 1fr 32px;
   height: 32px;
   position: absolute;
   top: 0;
   width: 100%;
}

body[opaque=""] > #navbar {
   display: none;
}

#navbar > :not(#close) {
   -webkit-app-region: drag;
}

#navbar > span {
   align-self: center;
   color: white;
   font-family: 'DeterminationMono';
   justify-self: center;
}

#close {
   margin: auto;
}

#close > img {
   --size: 8px;
   height: var(--size);
   image-rendering: pixelated;
   margin: calc((32px - var(--size)) / 2);
   opacity: 0.75;
   width: var(--size);
}

#close:hover {
   background-color: #ff3f3f9f;
}

#close:hover > img {
   opacity: 1;
}

#close:active > img {
   --size: 10px;
}
*/

#wrapper {
   position: absolute;
}

#splash {
   filter: brightness(0);
   image-rendering: pixelated;
   object-fit: contain;
}

#splash[visible=""] {
   filter: none;
}

#backdrop {
   height: 480px;
   width: 640px;
}